/* Форма для додавання завдання */
.form-add-task {
  width: 320px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #0522c8;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 4px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

button {
  cursor: pointer;
  width: auto;
  /* width: fit-content; */
  /* height: fit-content; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
}

button:hover {
  background-color: #f0409b;
}

#task-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #09e631;
  padding: 16px;
}

.task-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #eee712;
  padding: 4px 4px;
  width: 320px;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & .name {
    text-align: center;
    font-weight: 600;
  }

  & .description {
    text-align: center;
    font-weight: 400;
  }
}
